nav{
  background-color: midnightblue;
  color: seashell;
}
h2{
  text-align: center;
  text-transform: uppercase;
}
h3{
  text-align: center;
}
li:hover{
  color: hotpink;
}

.footer{
  background-color: midnightblue;
  color: seashell;
  position: absolute;
  bottom: 0px;
  width: 100%;
}